
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Click Here To View More...</h4>
    <div style="background-color:aliceblue;width:15%;">
        @Html.ActionLink("Owner", "Index", "Owner/Index")
    </div>
    <br />
    <div style="background-color:aliceblue;width:15%;">
        @Html.ActionLink("Branch", "Index", "Branch/Index")
    </div>
    <br />
    <div style="background-color:aliceblue;width:15%;">
        @Html.ActionLink("Staff", "Index", "Staff/Index")
    </div>
    <br />
    <div style="background-color:aliceblue;width:15%;">
        @Html.ActionLink("Rent", "Index", "Rent/Index")
    </div>
</body>
</html>
